<% if user_signed_in? %>
	<%= link_to("Logout", destroy_user_session_path, :method => :delete) %>

	<% @local_top_events.reverse.each do |event| %>
		<br>
		<br>
		<a href="https://facebook.com/events/<%= event.fb_id %>" target="_blank" >
			<%= event.name %>
		</a>

		<br>
		<%= event.start_time %>
		<%= event.longitude %>
		<%= event.latitude %>
		<br>
		<%= event.attending_count %>
		<br>
	<% end %>
	<%= @just_string %>
	<%= @total_word_count %>
<% else %>
	<div class="home_page">
		<div class="welcome_one">Discover the Most Popular Events Near You!</div>
		<div class="welcome_two">Let our elves work for you ;)</div>
		<div class="fb_login_link">
			<%= link_to user_omniauth_authorize_path(:facebook) do  %>
				<div class="fb_login_button">
					<%= image_tag "facebook_logo.png", :class => 'facebook_logo' %>
					<div class="fb_login_text" %> 
						Sign up with Facebook
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>