<h1>Let our elves work for you!</h1>
<% if user_signed_in? %>
	<%= link_to("Logout", destroy_user_session_path, :method => :delete) %>

	<% @local_events_upcoming_ten_days.each do |event| %>
		<br>
		<br>
		<a href="https://facebook.com/events/<%= event.fb_id %>" target="_blank" >
			<%= event.name %>
		</a>

		<br>
		<%= event.start_time %>
		<br>
	<% end %>
	<%= @just_string %>
	<%= @total_word_count %>
<% else %>
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>