
<div id="fb-root"></div>


<% if user_signed_in? %>

<div class="through_page"%>

   <div class="welcome_name text_style">Welcome, <%= @user.name.split(" ")[0] %>!</div>

   <div class="finding_events text_style">Our elves are busy finding awesome events around <%= @geo_location.city %> for you right now!</div>

   <div class="finished_email text_style">When they've finished in a minute we'll send them to you at <%= @user.email %> <!--span class="change_email">change</span--></div>

<!-- 
   <div class="invite_friends text_style">In the meantime, share the elf love and receive 108 sextillion (108,000,000,000,000,000,000,000) elverians for every friend that joins!</div>

   

   <div class="fb-like fb_buttons" data-href="http://www.elvent.io/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
-->

   <div class="fb_share_link">
      <button class="fb_share_button" onclick="window.open('https://www.facebook.com/dialog/feed?link=elvent.io&amp;app_id=871569562938664&amp;redirect_uri=http://www.elvent.io/&amp;display=popup', 'fbshare', 'width=640,height=320');">
         <%= image_tag "facebook_logo.png", :class => 'facebook_share_logo' %>
         <div class="fb_share_text" %> 
            Share
         </div>
      </button>
   </div>

</div>



    <%# @response['events'].each do |event| %>
      <br>
      <br>
      <%#= event['name']['text'] %>
    <%# end %>

    <%#= @response %>

<div class="through_footer">
   <center>
      <%= link_to("Logout", destroy_user_session_path, :method => :delete, :class => "bottom_button text_style") %>
      <%= link_to('Privacy Policy', 'privacy_policy', :class => "bottom_button text_style") %>
      <%= link_to('Terms', 'terms', :class => "bottom_button text_style") %>
      <%= link_to('Support & Feedback', 'support', :class => "bottom_button text_style") %>
   </center>
</div>

<%# postfooter.html was here %>

<% else %>
   <div class="home_page background_gif_<%=rand(1..6)%>">
      <div class="background_grey">
   		<div class="welcome_one">
            Our Elves Find Popular Events <%#= @welcome1 %>Near You!
         </div>
   		<div class="welcome_two">
            Get weekly email updates on awesome upcoming events :)
         </div>
   		<div class="fb_login_link wow bounce" data-wow-delay="3s" data-wow-iteration="3">
   			<%= link_to user_omniauth_authorize_path(:facebook) do  %>
   				<div class="fb_login_button">
   					<%= image_tag "facebook_logo.png", :class => 'facebook_logo' %>
   					<div class="fb_login_text" %> 
   						Sign up with Facebook
   					</div>
   				</div>
   			<% end %>
   		</div>

         <i class="fa fa-chevron-down fa-4x page_down wow bounce" data-wow-delay="15s" data-wow-iteration="3"></i>
      </div>
	</div>
<% end %>